md-content(layout-padding)
  h1.md-display-3(flex='grow') Sign up
  div(layout='column' layout-gt-sm='row' layout-padding)
  
      form.form(name='form', ng-submit='vm.register(form)', novalidate='')
        md-input-container.md-block
          label Name
          input(type='text', name='name', ng-model='vm.user.name', required='')
          div(ng-messages='form.name.$error')
            div(ng-message='required') A name is required

        md-input-container.md-block
          label Email
          input(type='email', name='email', ng-model='vm.user.email', required='', mongoose-error='')
          div(ng-messages='form.email.$error')
            div(ng-message='email') Doesn't look like a valid email.
            div(ng-message='required') What's your email address?
            div(ng-message='mongoose') {{ vm.errors.email }}

        md-input-container.md-block
          label Password
          input(type='password'
            name='password'
            ng-model='vm.user.password'
            mongoose-error=''
            ng-minlength='8', required='')

          div(ng-messages='form.password.$error')
            div(ng-message='required') Password must be at least 8 characters.
            div(ng-message='mongoose') {{ vm.errors.password }}

        md-input-container.md-block
          label Confirm Password
          input.form-control(type='password'
            name='confirmPassword'
            ng-model='vm.user.confirmPassword'
            match="vm.user.password"
            ng-minlength='3', required='')
          div(ng-messages='form.confirmPassword.$error')
            div(ng-message='match') Passwords must match.

        div(layout='row')
          md-button(type='submit') Sign up
          md-button(ui-sref='login') Login
          oauth-buttons(classes='btn-block')
